<%- include('partials/head') %>

<h1><%= headingStart %> Products</h1>

<ul>
    <% for(let product of products){ %>
    <li>
        <a href="<%= baseUrl %>/<%= product._id %>">
            <%= product.name %>
        </a>
    </li>
    <% } %>
</ul>

<form action="<%= baseUrl %>/new">
    <button>New Product</button>
</form>

<% if (headingStart !== 'All') {%>
<form action="<%= baseUrl %>">
    <button>All Products</button>
</form>
<% } %>

<%- include('partials/foot') %>